@{
    ViewData["title"] = "Sezione Crea Pizza";
}

@model la_mia_pizzeria_static.Models.PizzaContext

<div>
    <h1 class="display-4 text-center">Pizzeria del Centro</h1>
    <div class="container">
        <button class="btn-primary btn mb-3">@Html.ActionLink("Crea Pizza", "FormCreazionePizza", "Pizza", new { @class = "text-light text-decoration-none"})</button>
        <div class="row">
            @foreach(var pizza in Model.Pizze)
            {
                <div class="col-12 col-sm-6 mb-2">
                    <div class="card">
                        <div class="card-img-top">
                            <img src="@pizza.sFoto" class="img-fluid" alt="@pizza.Nome">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@pizza.Nome</h5>
                            <p class="card-text">@pizza.Descrizione</p>
                            <p>@pizza.Prezzo €</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn-primary btn">@Html.ActionLink("Visualizza Pizza", "ShowPizza", "Pizza", new {id = pizza.Id}, new { @class = "text-light text-decoration-none"})</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
