@{
    ViewData["title"] = "Visualizza Pizza";
}

@model la_mia_pizzeria_static.Models.Pizza


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-img-top">
                <img src="@Model.sFoto" class="img-fluid" alt="@Model.Nome" />
            </div>
            <div class="card-body">
                <h3>@Model.Nome</h3>
                <p>@Model.Descrizione</p>
                <p>@Model.Prezzo €</p>
            </div>
            <div class="card-footer">
                <button class="btn-primary btn">@Html.ActionLink("Modifica Pizza", "Edit", "Pizza", new { Model.Id }, new { @class = "text-light text-decoration-none"})</button>
                <button class="btn-danger btn">@Html.ActionLink("Elimina Pizza", "Delete", "Pizza", new { Model.Id }, new { @class = "text-light text-decoration-none"})</button>
                @*<button class="btn-primary btn"><a href="@Url.Action("Edit", "Pizza", new { @Model.Id })">Modifica</a></button>
                <button class="btn-primary btn"><a href="@Url.Action("Delete", "Pizza", new { @Model.Id })">Cancella</a></button>*@
            </div>
        </div>
    </div>
</div>